<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" th:remove="tag">
        <th:block th:each="review : ${listReviews}">
            <li class="comment">
                <div class="comment-body">
                    <div class="single-comment">
                        <div class="comment-img">
                            <img th:src="@{/images/personal.png}" style="width: 50px" alt="Author Images">
                        </div>
                        <div class="comment-inner">
                            <h6 class="commenter">
                                <a class="hover-flip-item-wrapper" href="#">
                                    <span class="hover-flip-item">
                                        <span data-text="Cameron Williamson" th:text="${review.customer.fullName}"></span>
                                    </span>
                                </a>
                                <span class="ms-5 commenter" style="margin-top: -5px; margin-right: 15px;" th:text="${review.updatedTimeOnForm}"></span>
                                <div class="star-rating" style="margin-top: 5px">
                                    <input type="text" class="product-detail-rating-star" dir="Ltr" data-th-size="md" th:value="${review.rating}">
                                </div>
                                <div class="ml--5">
                                    <a class="far fa-thumbs-up linkVoteReview" th:classappend="${review.upvotedByCurrentCustomer ? 'fas' : 'far'}" th:id="'linkVoteup-' + ${review.id}" th:reviewId="${review.id}" style="color: #0a53be" th:href="@{'/vote_review/' + ${review.id} + '/up'}"></a>
                                </div>

                                <div class="ml--5">
                                    <span th:id="'voteCount-'+${review.id}">[[${review.votes}]] Votes</span>
                                </div>

                                <div class="ml--5">
                                    <a class="far fa-thumbs-down linkVoteReview" th:classappend="${review.downvotedByCurrentCustomer ? 'fas' : 'far'}" th:id="'linkVotedown-' + ${review.id}" th:reviewId="${review.id}" style="color: #0a53be" th:href="@{'/vote_review/' + ${review.id} + '/down'}"></a>
                                </div>
                            </h6>
                            <div class="comment-text">
                                <p th:text="${review.comment}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <hr style="border: 1px solid">
        </th:block>
    </div>
</body>
</html>