<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments::page_head('Giới thiệu', 'none')"></header>
<body class="sticky-header newsletter-popup-modal">
<a href="#" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<!-- Start Header -->
<header class="header axil-header header-style-5">
    <div id="axil-sticky-placeholder"></div>
    <div th:replace="fragments::navbar_version_beta"></div>
    <div th:replace="fragments::advertisement"></div>
</header>
<!-- End Header -->
<main class="main-wrapper">
    <!-- Start Shop Area  -->
    <div class="axil-about-area about-style-1 axil-section-gap ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="about-thumbnail">
                        <div class="thumbnail">
                            <img th:src="@{/images/about-01.png}" alt="About Us">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="about-content content-right">
                        <span class="title-highlighter highlighter-primary2"> <i class="far fa-shopping-basket"></i>Về cửa hàng</span>
                        <h3 class="title">Nền tảng mua sắm trực tuyến hiện đại nhất Việt Nam tại thời điểm này.</h3>
                        <span class="text-heading">Mô hình kinh doanh B2C có thể giúp bạn tạo sự thống nhất, mua sắm ít tốn kém và thông minh hơn
                                - cả trên nền tảng trực tuyến và tại cửa hàng.</span>
                        <div class="row">
                            <div class="col-xl-6">
                                <p>Công ty Cổ phần Đầu tư Tech World là nền tảng bán lẻ đa ngành
                                    nghề số 1 Việt Nam về doanh thu và lợi nhuận. Với chiến lược omni-channel,
                                    Công ty vận hành mạng lưới hàng ngàn  cửa hàng trên toàn quốc song song với
                                    việc tận dụng hiểu biết sâu rộng về khách hàng thông qua nền tảng dữ liệu lớn,</p>
                            </div>
                            <div class="col-xl-6">
                                <p class="mb--0"> Năng lực chủ động
                                    triển khai các hoạt động hỗ trợ bán lẻ được xây dựng nội bộ và
                                    liên tục đổi mới công nghệ nhằm tạo ra trải nghiệm khách hàng
                                    vượt trội và thống nhất ở mọi kênh cũng như nâng cao sự gắn kết của
                                    người tiêu dùng với các thương hiệu của TechWorld.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start About Area  -->
    <div class="about-info-area">
        <div class="container">
            <div class="row row--20">
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img th:src="@{/images/shape-01.png}" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">40,000+ Khách Hàng</h6>
                            <p class="text">"Vượt qua con số 40,000 khách hàng hài lòng, chúng tôi tự hào
                                cung cấp dịch vụ xuất sắc và độ tin cậy cao."</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img th:src="@{/images/shape-02.png}" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">16 Năm Hoạt Động</h6>
                            <p class="text-center">"Với 16 năm hoạt động, chúng tôi đã xây dựng uy tín vững chắc,
                                mang đến trải nghiệm tuyệt vời cho khách hàng."</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-info-box">
                        <div class="thumb">
                            <img th:src="@{/images/shape-03.png}" alt="Shape">
                        </div>
                        <div class="content">
                            <h6 class="title">12 Giải Thưởng Lớn</h6>
                            <p class="text-center">"Chúng tôi tự hào với 12 giải thưởng, là minh chứng cho
                                cam kết vững vàng trong chất lượng và sự xuất sắc."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Team Area  -->
    <div class="axil-team-area bg-wild-sand">
        <div class="team-left-fullwidth">
            <div class="container ml--xxl-0">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="fas fa-users"></i> Đội Ngũ Của Chúng Tôi</span>
                    <h3 class="title">Đội Ngũ Quản Lý Chuyên Gia</h3>
                </div>

                <div class="team-slide-activation slick-layout-wrapper--20 axil-slick-arrow text-center ml--150">
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img th:src="@{/images/team-01.png}" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Founder</span>
                                <h5 class="title">Nguyễn Phương Nam</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img th:src="@{/images/team-02.png}" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">CEO</span>
                                <h5 class="title">Trịnh Duy An</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img th:src="@{/images/team-03.png}" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Designer</span>
                                <h5 class="title">Diệp Đại Minh</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img th:src="@{/images/team-04.png}" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Sales Person</span>
                                <h5 class="title">Bùi Công Duy</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area  -->

    <div th:replace="fragments::newsletterr"></div>
</main>
<div th:replace="fragments::banner"></div>

<div th:replace="fragments::search-product"></div>
<footer th:replace="fragments::footer"></footer>
<!-- End Footer Area  -->
<div th:replace="fragments::js"></div>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>