<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments::page_head('Chính Sách', 'none')"></header>
<body class="sticky-header newsletter-popup-modal">
<a href="#" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<!-- Start Header -->
<header class="header axil-header header-style-5">
    <div id="axil-sticky-placeholder"></div>
    <div th:replace="fragments::navbar_version_beta"></div>
    <div th:replace="fragments::advertisement"></div>
</header>
<!-- End Header -->
<main class="main-wrapper">
    <!-- Start Privacy Policy Area  -->
    <div class="axil-privacy-area axil-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="axil-privacy-policy">
                        <h4 class="title">Chính sách đổi trả</h4>
                        <hr style="border: 2px solid red">
                        <table>
                            <thead>
                                <tr>
                                    <th>Loại sản phẩm</th>
                                    <th>Đổi mới miễn phí (*)</th>
                                    <th>Quy định nhập lại, trả lại</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Điện thoại/ Máy tính bảng/ Macbook/ Apple watch</td>
                                    <td>30 ngày</td>
                                    <td>
                                        - Trong 30 ngày đầu nhập lại máy, trừ phí 20% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)
                                        <br>
                                        - Sau 30 ngày nhập lại máy theo giá thoả thuận
                                    </td>
                                </tr>

                                <tr>
                                    <td>Samsung Watch</td>
                                    <td>30 ngày</td>
                                    <td>
                                        - Trong 30 ngày đầu nhập lại máy, trừ phí 30% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)
                                        <br>
                                        - Sau 30 ngày nhập lại máy theo giá thoả thuận
                                    </td>
                                </tr>

                                <tr>
                                    <td>Laptop</td>
                                    <td>30 ngày</td>
                                    <td>
                                        - Trong 30 ngày đầu nhập lại máy, trừ phí 20% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)
                                        <br>
                                        - Sau 30 ngày nhập lại máy theo giá thoả thuận
                                    </td>
                                </tr>

                                <tr>
                                    <td>Loa - Tai nghe cao cấp</td>
                                    <td>30 ngày</td>
                                    <td>
                                        - Trong 30 ngày đầu: Nhập lại trừ phí 40% trên giá mua ban đầu
                                        <br>
                                        - Từ 31 - 60 ngày: Nhập lại trừ phí 50% trên giá mua ban đầu
                                        <br>
                                        Lưu ý: Quá 60 ngày tính từ ngày mua ban đầu, không áp dụng chính sách nhập trả
                                    </td>
                                </tr>

                                <tr>
                                    <td>Tivi</td>
                                    <td>30 ngày</td>
                                    <td>
                                        Không áp dụng nhập lại
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-danger">(*): Lỗi phần cứng từ phía nhà sản xuất</p>
                        <p>
                            Điều kiện đổi trả:
                            <br>
                            ● Máy: Như mới, không xước xát, không dán decal, hình trang trí<br>
                            ● Máy cũ: có tình trạng sản phẩm như lúc mới mua<br>
                            ● Hộp: Như mới, không móp méo, rách, vỡ, bị viết, vẽ, quấn băng dính, keo; có Serial/IMEI trên hộp trùng với thân máy.<br>
                            ● Phụ kiện và quà tặng: Còn đầy đủ, nguyên vẹn, không móp méo xước xát hoặc bị hư hại trong quá trình sử dụng.<br>
                            ● Tài khoản: Máy đã đã được đăng xuất khỏi tất cả các tài khoản như: iCloud, Google Account, Mi Account…<br>

                            Các lỗi từ NSX cần được xác định bởi trung tâm bảo hành chính hãng hoặc trung tâm bảo hành uỷ quyền<br>

                            (*) Lỗi từ phía Nhà sản xuất là các lỗi bao gồm: Lỗi nguồn, lỗi trên mainboard, ổ cứng, màn hình và các linh kiện phần cứng bên trong<br>

                            Lỗi điểm chết màn hình : màn hình có từ 3 điểm chết trở lên hoặc 1 điểm chết có kích thước lớn hơn 1mm đối với điện thoại và từ 5 điểm chết trở lên đối với laptop, màn hình rời<br>

                            Trường hợp đổi/ trả các sản phẩm xuất hoá đơn Công ty, Khách hàng vui lòng cung cấp Biên bản trả hàng và thu hồi
                            hóa đơn hoặc Biên bản điều chỉnh giảm hóa đơn GTGT đầy đủ mộc tròn công ty và chữ ký người đại diện Pháp luật
                            công ty. Trường hợp Khách hàng không cung cấp đầy đủ  các chứng từ trên, CellphoneS xin phép thu phí dịch vụ
                            theo giá trị thuế suất VAT sản phẩm đổi trả.
                        </p>

                        <h4 class="title">Chính sách bảo hành</h4>
                        <hr style="border: 2px solid blueviolet">
                        <p>Yêu cầu tiếp nhận bảo hành tùy theo quy định của từng hãng, chi tiết có trong bảng sau:</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Thời gian bảo hành</th>
                                    <th>Quyền lợi bảo hành</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Điện thoại, Laptop mới</td>
                                    <td>12 tháng(hoặc dài hơn theo quy định của hãng)</td>
                                    <td>Quyền lợi bảo hành của hãng</td>
                                </tr>

                                <tr>
                                    <td>Điện thoại, Laptop đã kích hoạt</td>
                                    <td>12 tháng = Thời gian bảo hành còn lại tại hãng + Bảo hành tại TechWorld</td>
                                    <td>
                                        - Theo quyền lợi bảo hành của hãng trong thời gian được hãng bảo hành <br>
                                        - Sửa chữa, thay thế linh kiện trong thời gian bảo hành còn lại tại TechWorld
                                    </td>
                                </tr>

                                <tr>
                                    <td>Âm thanh</td>
                                    <td>12 tháng</td>
                                    <td>Sửa chữa, thay thế linh kiện</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            Điều kiện bảo hành (dành cho linh kiện máy tính):
                            <br>
                            --> Đủ điều kiện:<br>
                            • Hư hỏng được xác định do lỗi kỹ thuật hoặc do lỗi của nhà sản xuất.<br>
                            • Sản phẩm đang trong thời hạn bảo hành, có tem bảo hành của nhà phân phối/ hãng sản xuất.<br>
                            • Đối với sản phẩm bảo hành cần số Serial trên hộp: sản phẩm phải còn đầy đủ hộp.<br>
                            • Sản phẩm không trầy xước, cấn móp, bể, vỡ, biến dạng so với ban đầu.<br>
                            • Dùng đúng nguồn điện, không bị mối mọt, côn trùng xâm nhập; không cháy nổ, phồng tụ; không bị ô xy hoá do đặt trong môi trường ẩm ướt…<br>
                            • Chưa can thiệp vào phần cứng (tự ý tháo dỡ, sửa chữa…).<br>
                            • Đối với sản phẩm CPU Intel, khách hàng cần giữ hộp sản phẩm trong suốt thời gian bảo hành của sản phẩm.<br>
                            •  Đối với sản phẩm ổ cứng SSD, sẽ bảo hành theo số tháng quy định hoặc theo số TBW của sản phẩm, tuỳ điều kiện nào đến trước..<br>
                            --> Không đủ điều kiện:<br>
                            • Hết thời hạn bảo hành.<br>
                            • CPU bị mất hộp sản phẩm.<br>
                            • Không có tem bảo hành của Công ty/ nhà phân phối/ hãng sản xuất; hoặc có nhưng tem bảo hành đó không hợp lệ (bị rách, bị tẩy xoá, sửa chữa, mờ không đọc được, bong/ tróc…).<br>
                            • Bị tác động vật lý làm trầy xước, cong vênh, rạn nứt, bể vỡ trong quá trình sử dụng.<br>
                            • Bị hư hỏng do tự ý thảo mở, sửa chữa, thay đổi cấu trúc sản phẩm bên trong.<br>
                            • Bị hư hỏng, chập, cháy do sử dụng sai mục đích, tự ý tháo, lắp đặt không tuân theo các hướng dẫn sử dụng đính kèm theo sản phẩm.<br>
                            • Bị hư hỏng do côn trùng xâm nhập (chuột, gián, kiến, mối…).<br>
                            • Bị hư hỏng do thiên tai, hỏa hoạn, lụt lội, sét đánh, rỉ sét, hao mòn do môi trường gây ra.<br>
                            • Sản phẩm sử dụng với mục đích sản xuất, khai thác tiền điện tử.<br>
                        </p>

                        <h4 class="title">Chính sách vận chuyển</h4>
                        <hr style="border: 2px solid yellowgreen">
                        <table>
                            <thead>
                                <tr>
                                    <th>KHU VỰC</th>
                                    <th>NỘI THÀNH</th>
                                    <th>NGOẠI THÀNH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hồ Chí Minh & Hà Nội</td>
                                    <td>- Giao nhanh 2 giờ (áp dụng cho khu vực có bán kính giao hàng < 10km)<br>
                                        - Trong vòng 24h cho các khoảng cách xa hơn 10km </td>
                                    <td>Trong vòng 24h</td>
                                </tr>

                                <tr>
                                    <td>Khu vực các tỉnh có cửa hàng TechWorld (trừ Hồ Chí Minh và Hà Nội)</td>
                                    <td>Trong vòng 24h </td>
                                    <td>Trong vòng 1 - 2 ngày</td>
                                </tr>

                                <tr>
                                    <td>Các khu vực còn lại</td>
                                    <td>Trong vòng 2 - 4 ngày</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            - Thời gian giao nhận trên áp dụng với các đơn hàng xác nhận trước 15h30, các đơn hàng sau thời gian này sẽ được tính cho ngày kế tiếp.<br>
                            - Thời gian giao hàng ở khu vực "Quận Ngoại Thành và Tỉnh Thành khác" không bao gồm: Chủ nhật và các ngày Lễ, Tết.<br>
                            - Vui lòng ghi chú đặt hàng nếu có nhu cầu xuất hóa đơn.<br>
                            - Vui lòng cung cấp đủ các thông tin sau: Tên người nhận, Địa chỉ, Số điện thoại.<br>
                            (***) Đơn hàng được xác định là cồng kềnh nếu rơi vào một trong các trường hợp sau:<br>
                            1. Khối lượng thực tế > 8kg<br>
                            2. Khối lượng quy đổi > 10kg (DxRxC/5000)<br>
                            3. Cả 3 chiều có kích thước lớn hơn 35cm<br>
                            4. Cả 2 chiều có kích thước lớn hơn 45cm<br>
                            5. Chỉ cần một chiều có kích thước lớn hơn 50cm<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Privacy Policy Area  -->
    <div th:replace="fragments::newsletterr"></div>
</main>
<div th:replace="fragments::banner"></div>

<div th:replace="fragments::search-product"></div>
<footer th:replace="fragments::footer"></footer>
<!-- End Footer Area  -->
<div th:replace="fragments::js"></div>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>