<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" th:remove="tag">
        <div class="col border m-3 p-2">
            <div><label>Main Image: </label></div>
            <div class="m-2">
                <img alt="Main image preview" class="img-fluid thumbnail" style="width: 160px;" th:if="${product.id == null}"  th:src="@{/images/product_icon.png}"/>
                <img alt="Main image preview" class="img-fluid thumbnail" style="width: 160px;" th:if="${product.id != null}"  th:src="${product.mainImage}"/>
            </div>
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-3 p-2">
                <div >
                    <label>Extra Image #[[${status.index+1}]]: [[${productImage.name}]]</label>
                </div>
                <div class="m-2">
                    <img th:alt="'Extra image #' + ${status.index+1} + ' preview'" style="width: 160px;" class="img-fluid" th:src="${productImage.url}"/>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>