<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<body class="sticky-header newsletter-popup-modal">
<div th:fragment="content" class="modal fade" id="cancelOrderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cancelOrderModalTitle">Hủy Đơn Hàng</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form onsubmit="return submitCancelForm();">
        <div class="modal-body">
          <div id="divCancelReason01">
            <div>Lý do:</div>
            <div class="m-1">
              <textarea class="form-control" id="cancelNote01" rows="4" maxlength="120" placeholder="Bạn có thể cung cấp thêm thông tin" style="font-size: 17px"></textarea>
            </div>
          </div>

          <div id="divCancelMessage01" class="text-center"></div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" id="firstCanCelButton01" style="font-size: 20px">Gửi Yêu Cầu</button>
          <button type="button" class="btn btn-danger" id="secondCancelButton02" data-bs-dismiss="modal" style="font-size: 20px">Đóng</button>
        </div>
      </form>
    </div>
  </div>

</div>
</body>
</html>