<div class="modal-header">
    <h5 class="modal-title">Customer Detail</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row g-3">
            <div class="col-12 col-lg-6">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" readonly th:value="${customer.id}" id="id" />
            </div>
            <div class="col-12 col-lg-6">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" readonly th:value="${customer.fullName}" id="name" />
            </div>
            <div class="col-12 col-lg-6">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" class="form-control" readonly th:value="${customer.email}" id="email"/>
            </div>

            <div class="col-12 col-lg-6">
                <label for="phone-number" class="form-label">Phone Number</label>
                <input type="text" class="form-control" readonly th:value="${customer.phoneNumber}" id="phone-number"/>
            </div>
            <div class="col-12 col-lg-6">
                <label for="created-time" class="form-label">Created Time</label>
                <input type="text" class="form-control" readonly th:value="${customer.createdTime}" id="created-time">
            </div>
            <div class="col-12 col-lg-6">
                <label for="enabled" class="form-label">Enabled</label>
                <div class="form-check form-switch form-check-success">
                    <input class="form-check-input" name="enable" type="checkbox" readonly role="switch" id="enabled" onclick="return false;" th:checked="${customer.enabled}">
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
