<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Categories - TechWorld Admin','none')"></head>
<body>
<div class="wrapper">
    <!--sidebar wrapper -->
    <div th:replace="navigation::sidebar_menu"></div>
    <!--end sidebar wrapper -->
    <!--start header -->
    <header th:replace="navigation::header_menu"></header>
    <!--end header -->
    <div class="page-wrapper">
        <div class="page-content">
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Manage Category</div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-lg-flex align-items-center mb-4 gap-3">
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-cloud-download mr-1"></i>Downloads
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item" th:href="@{/categories/export/csv}">Export to CSV</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="ms-auto">
                            <a th:href="@{/categories/new}" class="btn btn-primary radius-20 mt-2 mt-lg-0">
                                <i class="bx bxs-plus-square"></i>
                                Add New Category
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table mb-0" id="example">
                            <thead class="table-light">
                            <tr>
                                <th>ID#</th>
                                <th>Photos</th>
                                <th>Name</th>
                                <th>Enable</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${listCategories}">
                                <td>[[${category.id}]]</td>
                                <td>
                                    <img th:if="${category.image == null}" th:src="@{/images/category_icon.png}" class="rounded-circle" width="60" height="60" alt="category avatar" />
                                    <img th:if="${category.image != null}" th:src="${category.image}" width="60" height="60" alt="category avatar">
                                </td>
                                <td>[[${category.name}]]</td>
                                <td>
                                    <div class="form-check form-switch form-check-info">
                                        <input th:categoryChecked="${category.id}" class="form-check-input userSwitch" type="checkbox" role="switch" th:checked="${category.enabled}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex order-actions">
                                        <a th:href="@{'/categories/edit/'+${category.id}}" class="" title="Edit this category"><i class="bx bxs-edit"></i></a>
                                        <a th:href="@{'/categories/delete/' + ${category.id}}" th:categoryId="${category.id}" title="Delete this category" class="ms-3 link-delete"><i class="bx bxs-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments::footer"></footer>
    <div th:replace="modal_fragments::modal_delete"></div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var contextPath = /*[[@{/}]]*/ '';
    $(document).ready(function() {
        $(".userSwitch").change(function() {
            var categoryId = $(this).attr("categoryChecked");
            var enabled = $(this).is(":checked");
            var url = contextPath + 'categories/' + categoryId + '/enabled/' + enabled;
            $.ajax({
                type: 'GET',
                url: url,
                success: function(response) {
                    console.log("Success");
                    success_noti(response);
                },
                error: function(error) {
                    console.log("Error");
                    error_noti(error);
                }
            });
        });

        if ('[[${message}]]' !== '') {
            var message = JSON.parse('[[${message}]]');
            if (message.keyword === 'success') {
                // Hiển thị thông báo thành công
                pos5_success_noti(message.content);
            } else if (message.keyword === 'error') {
                // Hiển thị thông báo lỗi
                pos4_error_noti(message.content);
            }
        }

    });
    /*]]>*/
    $(document).on("click", ".link-delete", function (e) {
        e.preventDefault();
        var categoryId = $(this).attr("categoryId");
        var deleteUrl = $(this).attr("href");

        $('#exampleWarningModal').modal('show');
        $("#modal-body-content").text("Are you sure you want to delete this category ID " + categoryId);

        $(".btn.btn-dark").on("click", function () {
            window.location.href = deleteUrl;
        });
    });
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>