<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments::page_head(${pageTitle},'none')"></header>
<body>
<div class="axil-signin-area">

  <!-- Start Header -->
  <div class="signin-header">
    <div class="row align-items-center">
      <div class="col-md-6">
        <a th:href="@{/}" class="site-logo">
          <img class="ml--30" th:src="@{/images/logo.png}" style="height: 60px; width: 50px;" alt="Site Logo">
          <h5 class="ml-2 mb-0">Tech<span class="text-danger">World</span></h5>
        </a>
      </div>
      <div class="col-md-6">
        <div class="singin-header-btn">
          <p>Bạn đã có tài khoản.</p>
          <a th:href="@{/login}" class="axil-btn btn-bg-secondary sign-up-btn">Đăng nhập</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="axil-signin-banner bg_image bg_image--10">
        <h3 class="title">Chúng Tôi Cung Cấp Các Sản Phẩm Tốt Nhất Cho Bạn</h3>
      </div>
    </div>
    <div class="col-lg-6 offset-xl-2">
      <div class="axil-signin-form-wrap">
        <div class="axil-signin-form">
          <form class="singin-form" th:action="@{/create_customer}" method="post" th:object="${customer}" onsubmit="return checkEmailUnique(this);">
            <div class="form-group">
              <label>Nhập họ và tên</label>
              <input type="text" th:field="*{fullName}" class="form-control" required="required" maxlength="45" minlength="2" />
            </div>

            <div class="form-group">
              <label>Nhập E-mail</label>
              <input type="email" th:field="*{email}" class="form-control" required="required" maxlength="45" minlength="8"/>
            </div>

            <div class="form-group">
              <label>Nhập số điện thoại</label>
              <input type="text" th:field="*{phoneNumber}" class="form-control" required="required" maxlength="45" minlength="2"/>
            </div>

            <div class="form-group">
              <label>Nhập mật khẩu</label>
              <input type="password" th:field="*{password}" class="form-control" required="required" maxlength="15" minlength="6"
                     oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
            </div>

            <div class="form-group">
              <label>Nhập lại mật khẩu</label>
              <input type="password" id="confirmPassword" class="form-control" required="required" maxlength="15" minlength="6"
                     oninput="checkPasswordMatch(this)"/>
            </div>

            <div class="form-group">
              <button type="submit" class="axil-btn btn-bg-primary submit-btn">Tạo Tài Khoản Ngay!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments::js"></div>
<script type="text/javascript">
  function checkPasswordMatch(confirmPassword){
    if(confirmPassword.value !== $("#password").val()){
      confirmPassword.setCustomValidity("Vui lòng nhập đúng mật khẩu!");
    } else {
      confirmPassword.setCustomValidity("");
    }
  }

  function checkEmailUnique(form){
    const url = "http://localhost/TechWorld/customers/check_unique_email"
    const customerEmail = $("#email").val();
    const csrfValue = $("input[name='_csrf']").val();
    const params = {email: customerEmail, _csrf: csrfValue};

    $.post(url,params, function (response){
      if(response === "Ok"){
        form.submit();
      } else if(response === "Duplicated"){
        warning_noti("There is another customer having the email " + customerEmail);
      } else {
        error_noti("Unknown response from server");
      }
    }).fail(function (){
      error_noti("Could not connect to the server");
    });
    return false;
  }
</script>
</body>
</html>