<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments::page_head('Tech World', 'none')"></header>
<body class="sticky-header newsletter-popup-modal">
<a href="#" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<header class="header axil-header header-style-1" style="padding-bottom: 0 !important;">
    <div class="header-top-campaign">
        <div class="container position-relative">
            <div class="campaign-content">
                <p class="text-dark font-weight-bold text-uppercase">chào mừng bạn đến với thế giới công nghệ của chúng tôi <a href="#">khám phá thêm</a></p>
            </div>
        </div>
        <button class="remove-campaign"><i class="fal fa-times"></i></button>
    </div>
    <!-- Start Mainmenu Area  -->
    <div id="axil-sticky-placeholder"></div>
    <div th:replace="fragments::navbar"></div>
    <!-- End Mainmenu Area -->
</header>

<main class="main-wrapper">
    <div class="axil-main-slider-area main-slider-style-1" style="padding-top: 0 !important;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-sm-6">
                    <div class="main-slider-content">
                        <div class="slider-content-activation-one">
                            <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                                <span class="subtitle"><i class="fas fa-fire"></i> Ưu Đãi Nóng Trong Tuần Này</span>
                                <h1 class="title">iPhone 14 Pro Max 256GB</h1>
                                <div class="slide-action">
                                    <div class="shop-btn">
                                        <a href="#" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Mua Ngay</a>
                                    </div>
                                    <div class="item-rating">
                                        <div class="thumb">
                                            <ul>
                                                <li><img th:src="@{/images/author1.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author2.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author3.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author4.png}" alt="Author"></li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                                <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                            <span class="review-text">
                                            <span>100+</span> Reviews
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <span class="subtitle"><i class="fas fa-fire"></i> Ưu Đãi Nóng Trong Tuần Này</span>
                                <h1 class="title">MacBook Pro M2 13-inch 2022 512GB</h1>
                                <div class="slide-action">
                                    <div class="shop-btn">
                                        <a href="#" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Mua Ngay</a>
                                    </div>
                                    <div class="item-rating">
                                        <div class="thumb">
                                            <ul>
                                                <li><img th:src="@{/images/author1.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author2.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author3.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author4.png}" alt="Author"></li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                                <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                            <span class="review-text">
                                            <span>100+</span> Reviews
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <span class="subtitle"><i class="fas fa-fire"></i> Ưu Đãi Nóng Trong Tuần Này</span>
                                <h1 class="title">iPad Gen 10 2022</h1>
                                <div class="slide-action">
                                    <div class="shop-btn">
                                        <a href="#" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Mua Ngay</a>
                                    </div>
                                    <div class="item-rating">
                                        <div class="thumb">
                                            <ul>
                                                <li><img th:src="@{/images/author1.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author2.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author3.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author4.png}" alt="Author"></li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                                <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                            <span class="review-text">
                                            <span>100+</span> Reviews
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <span class="subtitle"><i class="fas fa-fire"></i> Ưu Đãi Nóng Trong Tuần Này</span>
                                <h1 class="title">Quạt tản nhiệt CPU Intel</h1>
                                <div class="slide-action">
                                    <div class="shop-btn">
                                        <a href="#" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Mua Ngay</a>
                                    </div>
                                    <div class="item-rating">
                                        <div class="thumb">
                                            <ul>
                                                <li><img th:src="@{/images/author1.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author2.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author3.png}" alt="Author"></li>
                                                <li><img th:src="@{/images/author4.png}" alt="Author"></li>
                                            </ul>
                                        </div>
                                        <div class="content">
                                                <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                            <span class="review-text">
                                            <span>100+</span> Reviews
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div class="main-slider-large-thumb">
                        <div class="slider-thumb-activation-one axil-slick-dots">
                            <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                <img th:src="@{/images/ip14.png}" alt="Product">
                                <div class="product-price">
                                    <span class="text">Giảm giá</span>
                                    <span class="price-amount">12%</span>
                                </div>
                            </div>
                            <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                <img th:src="@{/images/macbook.png}" alt="Product">
                                <div class="product-price">
                                    <span class="text">Giảm giá</span>
                                    <span class="price-amount">18%</span>
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <img th:src="@{/images/ipad.png}" alt="Product">
                                <div class="product-price">
                                    <span class="text">Giảm giá</span>
                                    <span class="price-amount">13%</span>
                                </div>
                            </div>
                            <div class="single-slide slick-slide">
                                <img th:src="@{/images/quatTanNhiet.png}" alt="Product">
                                <div class="product-price">
                                    <span class="text">Giảm giá</span>
                                    <span class="price-amount">10%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1"><img th:src="@{/images/shape-1.png}" alt="Shape"></li>
            <li class="shape-2"><img th:src="@{/images/shape-2.png}" alt="Shape"></li>
        </ul>
    </div>

    <!-- Start Categorie Area  -->
    <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Mặt Hàng</span>
            </div>
            <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
                <th:block th:each="cat : ${listCategories}">
                    <div class="slick-single-layout">
                        <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                            <a th:href="@{'/c/' + ${cat.name}}">
                                <img class="img-fluid" th:src="${cat.image}" alt="product categories">
                                <h6 class="cat-title">[[${cat.name}]]</h6>
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <!-- End Categorie Area  -->

    <!-- Poster Countdown Area  -->
    <div class="axil-poster-countdown">
        <div class="container">
            <div class="poster-countdown-wrap bg-lighter">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="poster-countdown-content">
                            <div class="section-title-wrapper">
                                <span class="title-highlighter highlighter-secondary"> <i class="fal fa-headphones-alt"></i> Đừng bỏ qua</span>
                                <h2 class="title text-uppercase">nâng cao sự trải nghiệm của bạn</h2>
                            </div>
                            <div class="poster-countdown countdown mb--40"></div>
                            <a href="#" class="axil-btn btn-bg-primary">Thanh Toán!</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="poster-countdown-thumbnail">
                            <img th:src="@{/images/desktop.jpg}" alt="Poster Product">
                            <div class="music-singnal">
                                <div class="item-circle circle-1"></div>
                                <div class="item-circle circle-2"></div>
                                <div class="item-circle circle-3"></div>
                                <div class="item-circle circle-4"></div>
                                <div class="item-circle circle-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Poster Countdown Area  -->

    <!-- Start Expolre Product Area  -->
    <div class="axil-product-area bg-color-white axil-section-gap">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Sản Phẩm Của Chúng Tôi</span>
                <h2 class="title">Khám Phá</h2>
            </div>
            <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout">
                    <div class="row row--15">
                        <th:block th:each="product, iterStat : ${listProducts}" th:if="${iterStat.index < 8}">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                <div class="axil-product product-style-one">
                                    <div class="thumbnail">
                                        <a th:href="@{'/p/' + ${product.alias}}">
                                            <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img" style="width: 218px; height: 228px;" th:src="${product.mainImage}" alt="Product Images">
                                            <img class="hover-img" th:src="${product.mainImage}" alt="Product Images" style="width: 228px; height: 228px;">
                                        </a>
                                        <div class="label-block label-right">
                                            <div th:if="${product.discountPercent > 0.0}" class="product-badget" th:text="'Giảm ' + ${product.discountUpdate} + '%'"></div>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a class="quick-view" th:href="@{'/p/' + ${product.alias}}"><i class="far fa-eye"></i></a></li>
                                                <li class="select-option">
                                                    <a href="javascript:;" th:pid="${product.id}" class="buttonAdd2CartTwo">
                                                        Thêm Vào Giỏ
                                                    </a>
                                                </li>
                                                <li class="wishlist"><a href="javascript:;" th:wid="${product.id}" class="buttonAdd2WishListTwo"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="inner text-center">
                                            <div class="product-rating" style="display: inline-flex">
                                                <div class="star-rating">
                                                    <input type="text" class="product-detail-rating-star" dir="Ltr" data-th-size="xs" th:value="${product.averageRating}">
                                                </div>
                                                <div class="review-link" style="margin-top: 20px; margin-left: 7px;">
                                                    <a href="#">(<span>[[${product.reviewCount}]]</span> đánh giá)</a>
                                                </div>
                                            </div>

                                            <h5 class="title"><a th:href="@{'/p/' + ${product.alias}}">[[${product.name}]]</a></h5>
                                            <div class="product-price-variant text-center">
                                                <span class="price current-price text-danger" style="font-size: 17px;" th:text="${#numbers.formatDecimal(product.newPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                                <span th:if="${product.discountPercent > 0.0}" class="price old-price text-primary" style="font-size: 17px;" th:text="${#numbers.formatDecimal(product.oldPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <!-- End Single Product  -->
                    </div>
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout">
                    <div class="row row--15">
                        <th:block th:each="product, iterStat : ${listProducts}" th:if="${iterStat.index >= 8}">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                <div class="axil-product product-style-one">
                                    <div class="thumbnail">
                                        <a th:href="@{'/p/' + ${product.alias}}">
                                            <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img" style="width: 218px; height: 228px;" th:src="${product.mainImage}" alt="Product Images">
                                            <img class="hover-img" th:src="${product.mainImage}" alt="Product Images" style="width: 228px; height: 228px;">
                                        </a>
                                        <div class="label-block label-right">
                                            <div th:if="${product.discountPercent > 0.0}" class="product-badget" th:text="'Giảm ' + ${product.discountUpdate} + '%'"></div>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a th:href="@{'/p/' + ${product.alias}}"><i class="far fa-eye"></i></a></li>
                                                <li class="select-option">
                                                    <a href="javascript:;" th:pid="${product.id}" class="buttonAdd2CartTwo">
                                                        Thêm Vào Giỏ
                                                    </a>
                                                </li>
                                                <li class="wishlist"><a href="javascript:;" th:wid="${product.id}" class="buttonAdd2WishListTwo"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="inner text-center">
                                            <div class="product-rating" style="display: inline-flex">
                                                <div class="star-rating">
                                                    <input type="text" class="product-detail-rating-star" dir="Ltr" data-th-size="xs" th:value="${product.averageRating}">
                                                </div>
                                                <div class="review-link" style="margin-top: 20px; margin-left: 7px;">
                                                    <a href="#">(<span>[[${product.reviewCount}]]</span> đánh giá)</a>
                                                </div>
                                            </div>

                                            <h5 class="title"><a th:href="@{'/p/' + ${product.alias}}">[[${product.name}]]</a></h5>
                                            <div class="product-price-variant text-center">
                                                <span class="price current-price text-danger" style="font-size: 17px;" th:text="${#numbers.formatDecimal(product.newPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                                <span th:if="${product.discountPercent > 0.0}" class="price old-price text-primary" style="font-size: 17px;" th:text="${#numbers.formatDecimal(product.oldPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center mt--20 mt_sm--0">
                    <a href="#" class="axil-btn btn-bg-lighter btn-load-more">Xem Tất Cả Các Sản Phẩm</a>
                </div>
            </div>

        </div>
    </div>
    <!-- End Expolre Product Area  -->

    <!-- Start Testimonila Area  -->
    <div class="axil-testimoial-area axil-section-gap bg-vista-white">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"> <i class="fal fa-quote-left"></i>Hãy xem khách hàng nói gì về chúng tôi</span>
                <h2 class="title">Phản Hồi Từ Khách Hàng</h2>
            </div>
            <!-- End .section-title -->
            <div class="testimonial-slick-activation testimonial-style-one-wrapper slick-layout-wrapper--20 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ Đây là lần đầu tôi sử dụng sản phẩm
                            công nghệ này và tôi không thể hài lòng hơn.
                            Thiết kế thông minh và tính năng đỉnh cao
                            thực sự đã nâng cao cuộc sống hàng ngày của tôi. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img style="height: 85px; width: 75px;" th:src="@{/images/anh1.jpg}" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Khách Hàng</span>
                            <h6 class="title">Mr.Lưu Thiếu Hoa</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ Tôi đã sử dụng sản phẩm này không chỉ cho công việc hàng ngày mà còn cho giải trí.
                            Với khả năng hiển thị sắc nét và âm thanh chất lượng,
                            tôi đã thấy thỏa mãn mọi nhu cầu về xem phim, chơi game, và nghe nhạc. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img style="height: 85px; width: 75px;" th:src="@{/images/anh3.jpg}" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Khách Hàng</span>
                            <h6 class="title">Mr.Trịnh Thăng Bình</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ Thiết kế sản phẩm đẹp mắt và hiện đại.
                            Màn hình rộng và đẹp, cùng với bàn phím dễ sử dụng,
                            tạo cảm giác thoải mái khi làm việc và giúp tôi
                            tận hưởng giờ giải trí. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img style="height: 85px; width: 75px;" th:src="@{/images/anh2.jpg}" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Khách Hàng</span>
                            <h6 class="title">Ms.Nguyễn Thị Định</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ Tôi đã có cơ hội liên hệ với bộ phận hỗ trợ khách hàng của nhà sản xuất
                            và họ đã giúp đỡ tôi một cách nhanh chóng và chuyên nghiệp.
                            Điều này thể hiện sự cam kết của họ đối với khách hàng. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img style="height: 85px; width: 75px;" th:src="@{/images/anh4.jpg}" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Khách Hàng</span>
                            <h6 class="title">Ms.Phạm Thị Yến Tuyết</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->

            </div>
        </div>
    </div>
    <!-- End Testimonila Area  -->

    <!-- Start New Arrivals Product Area  -->
    <div class="axil-new-arrivals-product-area bg-color-white axil-section-gap pb--0">
        <div class="container">
            <div class="product-area pb--50">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i>Tuần này có gì?</span>
                    <h2 class="title">Sản Phẩm Mới</h2>
                </div>
                <div class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow  arrow-top-slide">
                    <th:block th:each="product : ${listProductByDate}">
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a th:href="@{'/p/' + ${product.alias}}">
                                        <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500" th:src="${product.mainImage}" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div th:if="${product.discountUpdate > 0.0}" class="product-badget" th:text="'Giảm ' + ${product.discountUpdate} + '%'"></div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="product-rating" style="display: inline-flex">
                                            <div class="star-rating">
                                                <input type="text" class="product-detail-rating-star" dir="Ltr" data-th-size="xs" th:value="${product.averageRating}">
                                            </div>
                                            <div class="review-link" style="margin-top: 20px; margin-left: 7px;">
                                                <a href="#">(<span>[[${product.reviewCount}]]</span> đánh giá)</a>
                                            </div>
                                        </div>
                                        <h5 class="title"><a th:href="@{'/p/' + ${product.alias}}">[[${product.name}]]</a></h5>
                                        <div class="product-price-variant">
                                            <span th:if="${product.discountUpdate > 0.0}" class="price current-price text-danger" th:text="${#numbers.formatDecimal(product.newPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                            <span class="price old-price text-primary" style="font-size: 15px" th:text="${#numbers.formatDecimal(product.oldPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span> <br>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a th:href="@{'/p/' + ${product.alias}}" class="link-detail"><i class="far fa-eye"></i></a></li>
                                                <li class="select-option">
                                                    <a href="javascript:;" th:pid="${product.id}" class="buttonAdd2CartTwo">
                                                        Thêm Vào Giỏ
                                                    </a>
                                                </li>
                                                <li class="wishlist"><a href="javascript:;" th:wid="${product.id}" class="buttonAdd2WishListTwo"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <!-- End .slick-single-layout -->
                </div>
            </div>
        </div>
    </div>
    <!-- End New Arrivals Product Area  -->

    <!-- Start Most Sold Product Area  -->
    <div class="axil-most-sold-product axil-section-gap">
        <div class="container">
            <div class="product-area pb--50">
                <div class="section-title-wrapper section-title-center">
                    <span class="title-highlighter highlighter-primary"><i class="fas fa-star"></i> Cùng săn siêu sales</span>
                    <h2 class="title">Mức giá hấp dẫn nhất trên Tech World</h2>
                </div>
                <div class="row row-cols-xl-2 row-cols-1 row--15">
                    <th:block th:each="product : ${listProductByDiscount}">
                        <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a th:href="@{'/p/' + ${product.alias}}">
                                        <img data-sal="zoom-in" data-sal-delay="100" data-sal-duration="1500" style="width: 108px; height: 80px" th:src="${product.mainImage}" alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="icon">
                                                    <input type="text" class="product-detail-rating-star" dir="Ltr" data-th-size="xs" th:value="${product.averageRating}" />
                                                </span>
                                        <span class="rating-number">([[${product.reviewCount}]] đánh giá)</span>
                                    </div>
                                    <h6 class="product-title"><a th:href="@{'/p/' + ${product.alias}}">[[${product.name}]]</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price" th:text="${#numbers.formatDecimal(product.newPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                        <span class="price old-price" th:text="${#numbers.formatDecimal(product.oldPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                    </div>
                                    <div class="product-cart">
                                        <a href="javascript:;" th:pid="${product.id}" class="cart-btn buttonAdd2CartTwo"><i class="fal fa-shopping-cart"></i></a>
                                        <a href="javascript:;" th:wid="${product.id}" class="cart-btn buttonAdd2WishListTwo"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <!-- End Most Sold Product Area  -->

    <!-- Start Why Choose Area  -->
    <div class="axil-why-choose-area pb--50 pb_sm--30">
        <div class="container">
            <div class="section-title-wrapper section-title-center">
                <span class="title-highlighter highlighter-secondary"><i class="fal fa-thumbs-up"></i>Why Us</span>
                <h2 class="title">Tại sao mọi người lựa chọn tôi</h2>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img th:src="@{/images/service6.png}" alt="Service">
                        </div>
                        <h6 class="title">Fast &amp; Secure Delivery</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img th:src="@{/images/service7.png}" alt="Service">
                        </div>
                        <h6 class="title">100% Guarantee On Product</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img th:src="@{/images/service8.png}" alt="Service">
                        </div>
                        <h6 class="title">24 Hour Return Policy</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img th:src="@{/images/service9.png}" alt="Service">
                        </div>
                        <h6 class="title">24 Hour Return Policy</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box">
                        <div class="icon">
                            <img th:src="@{/images/service10.png}" alt="Service">
                        </div>
                        <h6 class="title">Next Level Pro Quality</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Area  -->
    <div th:replace="fragments::newsletterr"></div>

</main>
<div th:replace="fragments::banner"></div>
<!-- Start Footer Area  -->
<footer th:replace="fragments::footer"></footer>
<!-- End Footer Area  -->

<!-- Header Search Modal End -->
<div th:replace="fragments::search-product"></div>
<!-- Header Search Modal End -->

<div class="modal fade quick-view-product" id="quick-view-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

        </div>
    </div>
</div>

<div th:replace="fragments::js"></div>
<script type="text/javascript">
    modelURL = "[[@{/}]]";
    const csrfHeaderName = "[[${_csrf.headerName}]]";
    const csrfValue = "[[${_csrf.token}]]";

    $(".product-detail-rating-star").rating({
        displayOnly: true,
        hoverOnClear: false,
        showCaption:  false,
        theme: 'krajee-svg'
    });
</script>
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/add_to_cart_02.js}"></script>
<script type="text/javascript" th:src="@{/js/add_to_wishlist.js}"></script>
</body>
</html>