<!doctype html>
<html class="no-js" lang="vi" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments::page_head('Reset Password','none')"></header>
<body>
<div class="axil-signin-area">

  <!-- Start Header -->
  <div class="signin-header">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <a th:href="@{/}" class="site-logo">
          <img class="ml--30" th:src="@{/images/logo.png}" style="height: 60px; width: 50px;" alt="Site Logo">
          <h5 class="ml-2 mb-0">Tech<span class="text-danger">World</span></h5>
        </a>
      </div>
      <!--      <div class="col-md-2 d-lg-block d-none">-->
      <!--        <a th:href="@{/login}" class="back-btn"><i class="far fa-angle-left"></i></a>-->
      <!--      </div>-->
      <div class="col-sm-8">
        <div class="singin-header-btn">
          <p>Bạn Đã Là Thành Viên</p>
          <a th:href="@{/register}" class="axil-btn btn-bg-secondary sign-up-btn">Đăng Nhập</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="axil-signin-banner bg_image bg_image--9">
        <h3 class="title">Chúng Tôi Cung Cấp Các Sản Phẩm Tốt Nhất Cho Bạn</h3>
      </div>
    </div>

    <div class="col-lg-6 offset-xl-2">
      <div class="axil-signin-form-wrap">
        <div class="axil-signin-form">
          <h3 class="title mb--35">Reset Password</h3>
          <form th:action="@{/reset_password}" method="post" class="singin-form">
            <input type="hidden" th:value="${token}" name="token"/>
            <div class="form-group">
              <label>New password</label>
              <input type="password" class="form-control" name="password" id="password" required autofocus="autofocus" placeholder="Enter your new password" minlength="8" maxlength="15"/>
            </div>
            <div class="form-group">
              <label>Confirm password</label>
              <input type="password" class="form-control" required placeholder="Confirm your new password" minlength="8" maxlength="15" oninput="checkPasswordMatch(this)"/>
            </div>
            <div class="form-group">
              <button type="submit" class="axil-btn btn-bg-primary submit-btn">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments::js"></div>
<script th:inline="javascript">
  $(document).ready(function() {
    var message = /*[[${message}]]*/ null;
    if (message !== null && message !== '') {
      pos5_success_noti(message);
    }

    var error = /*[[${error}]]*/ null;
    if (error !== null && error !== '') {
      pos4_error_noti(error);
    }
  });
</script>
<script type="text/javascript">
  function checkPasswordMatch(confirmPassword){
    if(confirmPassword.value !== $("#password").val()){
      confirmPassword.setCustomValidity("Passwords do not match!");
    } else {
      confirmPassword.setCustomValidity("");
    }
  }
</script>
</body>
</html>